{% extends 'base.html' %} {% load bootstrap_toolkit  %}
{% load i18n %}
{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}

<h1>{% trans "Register an account" %}</h1>
<br />
<p>{% trans "Fill out this form to create an account." %} 
<br />
{% blocktrans %}You will need to confirm your registration through e-mail so be sure to use a valid e-mail address.{% endblocktrans %}</p>

<form style="margin-left:auto;margin-right:auto;" method="POST"> {% csrf_token %}
	{{ form|as_bootstrap }}
	<div style="margin-left: auto; margin-right: auto;text-align:center;">
        <p style="text-align: center;"><input type="submit" class="btn primary" value="{% trans "Send activation e-mail" %}"></p>
	</div>
    </form>
{% endblock %}
